# 1. 판다스 데이터구조

# 2. 시리즈와 데이터 프레임

## 시리즈

In [1]:
# 라이브러리 불러오기
import pandas as pd
sdl = pd.Series(['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], index=['0', '1', '2', '3', '4'])

# 시리즈데이터 출력
sdl

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [2]:
import pandas as pd
# 딕셔너리로 Series todtjd
dict_data = {'a':1, 'b':2, 'c':3}
sd2 = pd.Series(dict_data)

# 타입 확인
type(sd2)

pandas.core.series.Series

In [3]:
sd2

a    1
b    2
c    3
dtype: int64

## 시리즈 - 2) 리스트

In [6]:
import pandas as pd

# 리스트로 Series 생성
list_data = pd.Series(['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], index=['0', '1', '2', '3', '4'])
sd3 = pd.Series(list_data)

sd3

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

## 시리즈 - 3) 튜플

In [7]:
import pandas as pd

# 튜플로 Series 생성
tup_data = ('이순신', '1991-03-15', '남')
sd4 = pd.Series(tup_data, index = ['이름', '생년월일', '성별'])

# 데이터 확인
sd4

이름             이순신
생년월일    1991-03-15
성별               남
dtype: object

## 데이터프레임 - 1) 딕셔너리

In [9]:
# 라이브러리 불러오기
import pandas as pd

# 딕셔너리로 데이터프레임 생성
dict_data = {'동물':['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이':[7,9,2,3,1]}
df1 = pd.DataFrame(dict_data)

# 타입 확인
print(type(df1))

# 데이터 ghkrdls
print(df1)

<class 'pandas.core.frame.DataFrame'>
       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

## 데이터프레임 - 2) 리스트

In [10]:
# 라이브러리 불러오기
import pandas as pd

# 리스트로 데이터프레임 생성
df2 = pd.DataFrame([['Dog', '7'], ['Cat', '9'], ['Tiger', '2'], ['Lion', '3'], ['Monkey', '1']],
                    index = ['0', '1', '2', '3', '4'],
                    columns = ['동물', '나이'])
                    
# 타입 확인
print(type(df2))

# 데이터 확인
print(df2)

<class 'pandas.core.frame.DataFrame'>
       동물 나이
0     Dog  7
1     Cat  9
2   Tiger  2
3    Lion  3
4  Monkey  1

## 1) 데이터 요약 보기

In [12]:
# 관련 라이브러리 불러오기
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import seaborn as sns
import numpy as np

# 데이터 준비 시본에 내장된 팁 데이터
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

### loc와 iloc 인덱스와 행번호란?

In [14]:
tips1 = tips.drop([2])
tips1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

In [16]:
tips1.iloc[2]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [17]:
tips1.loc[2]

KeyError: 2

### 2) 행번호 읽기

In [18]:
# -1을 사용하여 마지막 행 데이터를 추출한 예제
tips.iloc[-1]

total_bill     18.78
tip              3.0
sex           Female
smoker            No
day             Thur
time          Dinner
size               2
Name: 243, dtype: object

### 3) 특정 행 범위 영역을 선택

In [22]:
# tips[0:3] === 0, 1, 2번째 행을 출력
# 데이터프레임의 첫 번째 행을 0번재 행이라고 가정함
# [0:3]이라고 입력햇지만 3번째 행을 가져오지 않음에 유의
tips[0:3]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [23]:
tips.iloc[0:3]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [24]:
tips.loc[0:3]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2

In [25]:
tips.loc[0:3, ['sex', 'day']]

      sex  day
0  Female  Sun
1    Male  Sun
2    Male  Sun
3    Male  Sun

In [26]:
tips.loc[0, ['sex', 'day']]

sex    Female
day       Sun
Name: 0, dtype: object

In [29]:
tips.at[0, 'sex']

'Female'

In [30]:
tips.iloc[3]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [31]:
# 인덱스 번호로 행뿐만 아니라 열로 선택할 수 있습니다.
tips.iloc[3:5, 0:2]

   total_bill   tip
3       23.68  3.31
4       24.59  3.61

In [32]:
# 행과 열의 인덱스를 리스트로 넘겨줄 수도 있습니다.
tips.iloc[[1,2,4], [0,2]]

   total_bill     sex
1       10.34    Male
2       21.01    Male
4       24.59  Female

In [33]:
# 멸시적으로 행이나 열 선택 인자에 ':' 슬라이를 전달하면 
tips.iloc[1:3, :]

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
2       21.01  3.50  Male     No  Sun  Dinner     3

In [34]:
tips.iloc[:, 1:3]

      tip     sex
0    1.01  Female
1    1.66    Male
2    3.50    Male
3    3.31    Male
4    3.61  Female
..    ...     ...
239  5.92    Male
240  2.00  Female
241  2.00    Male
242  1.75    Male
243  3.00  Female

[244 rows x 2 columns]

In [36]:
tips.iat[1,1]

1.66

## 4) 조건을 이용하여 선택

In [37]:
# 조건은 컬럼 데이터를 조건식과 비교하여 데이터를 추출하는 데이터베이스 SQL과 유사
# 전체 데이터 중 Tip이 5달러 이상
tips[tips.tip > 5]

     total_bill    tip     sex smoker   day    time  size
23        39.42   7.58    Male     No   Sat  Dinner     4
44        30.40   5.60    Male     No   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
88        24.71   5.85    Male     No  Thur   Lunch     2
116       29.93   5.07    Male     No   Sun  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
170       50.81  10.00    Male    Yes   Sat  Dinner     3
172        7.25   5.15    Male    Yes   Sun  Dinner     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
183       23.17   6.50    Male    Yes   Sun  Dinner     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

In [39]:
## 성별(sex)이 남자이면서 (smoker)비흡연자인 사람
tips[(tips['sex'] == 'Male') & (tips['smoker'] == 'No')]

     total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
232       11.61  3.39  Male     No  Sat  Dinner     2
233       10.77  1.47  Male     No  Sat  Dinner     2
235       10.07  1.25  Male     No  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
242       17.82  1.75  Male     No  Sat  Dinner     2

[97 rows x 7 columns]

In [42]:
# 특정조건 선택시 'icin' 함수를 많이 사용합니다.
# 일요일이면
tips['day'].isin(['Sun'])

0       True
1       True
2       True
3       True
4       True
       ...
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

In [43]:
# Tip을 1달러 지불한 고객
tips[tips['tip'].isin([1])]

     total_bill  tip     sex smoker  day    time  size
67         3.07  1.0  Female    Yes  Sat  Dinner     1
92         5.75  1.0  Female    Yes  Fri  Dinner     2
111        7.25  1.0  Female     No  Sat  Dinner     1
236       12.60  1.0    Male    Yes  Sat  Dinner     2

### 2) 여러 개 열 변수 한 번에 추출하기

In [63]:
# 데이터프레임 'total_bill ', 'tip', 'day' 열 변수 추출
tips [['total_bill', 'tip', 'day']]

     total_bill   tip   day
0         16.99  1.01   Sun
1         10.34  1.66   Sun
2         21.01  3.50   Sun
3         23.68  3.31   Sun
4         24.59  3.61   Sun
..          ...   ...   ...
239       29.03  5.92   Sat
240       27.18  2.00   Sat
241       22.67  2.00   Sat
242       17.82  1.75   Sat
243       18.78  3.00  Thur

[244 rows x 3 columns]

### 3) 파생변수 만들기

In [44]:
# 금액과 팁의 합계의 총액 (total)파생변수 만들기
tips['total'] = tips['total_bill'] + tips['tip']
tips['total']

0      18.00
1      12.00
2      24.51
3      26.99
4      28.20
       ...
239    34.95
240    29.18
241    24.67
242    19.57
243    21.78
Name: total, Length: 244, dtype: float64

### 4) 열 데이터 자료형 확인 및 변환

In [45]:
# 데이터프레임 자료형 확인
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
total          float64
dtype: object

In [46]:
# 데이터프레임 열의 자료형 확인
type(tips.total_bill)

pandas.core.series.Series

In [48]:
# *중간고사 category와 object의 차이*
# category와 object는 같은 문자열 타입이지만, category는 데이터가 분류가 되고 object는 분류가 되지 않는 차이가 있다.

# 데이터프레임 자료형 변환
# 카테고리형의 흡연 유무를 문자열으로 변환하여 삽입
tips['smoker_str']=tips['smoker'].astype(str)
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
total          float64
smoker_str      object
dtype: object

 # 데이터조작
 ### 1) 데이터개수확인

In [49]:
#데이터프레임의 개수 확인
tips.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
total         244
smoker_str    244
dtype: int64

In [50]:
len(tips)

244

In [51]:
# 데이터프레임 인덱스 보기
tips.index

RangeIndex(start=0, stop=244, step=1)

In [52]:
# epdlxjvmfpdla zjffja qhrl
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'total',
       'smoker_str'],
      dtype='object')

In [53]:
# 행, 열 구조 보기
tips.values

array([[16.99, 1.01, 'Female', ..., 2, 18.0, 'No'],
       [10.34, 1.66, 'Male', ..., 3, 12.0, 'No'],
       [21.01, 3.5, 'Male', ..., 3, 24.51, 'No'],
       ...,
       [22.67, 2.0, 'Male', ..., 2, 24.67, 'Yes'],
       [17.82, 1.75, 'Male', ..., 2, 19.57, 'No'],
       [18.78, 3.0, 'Female', ..., 2, 21.78, 'No']], dtype=object)

### 3) 정렬

In [55]:
tips.sort_values(by=['total_bill'], axis=0)

     total_bill    tip     sex smoker   day    time  size  total smoker_str
67         3.07   1.00  Female    Yes   Sat  Dinner     1   4.07        Yes
92         5.75   1.00  Female    Yes   Fri  Dinner     2   6.75        Yes
111        7.25   1.00  Female     No   Sat  Dinner     1   8.25         No
172        7.25   5.15    Male    Yes   Sun  Dinner     2  12.40        Yes
149        7.51   2.00    Male     No  Thur   Lunch     2   9.51         No
..          ...    ...     ...    ...   ...     ...   ...    ...        ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3  48.85        Yes
156       48.17   5.00    Male     No   Sun  Dinner     6  53.17         No
59        48.27   6.73    Male     No   Sat  Dinner     4  55.00         No
212       48.33   9.00    Male     No   Sat  Dinner     4  57.33         No
170       50.81  10.00    Male    Yes   Sat  Dinner     3  60.81        Yes

[244 rows x 9 columns]

In [57]:
tips.sort_values(by=['total_bill'], axis=0, ascending=False)

     total_bill    tip     sex smoker   day    time  size  total smoker_str
170       50.81  10.00    Male    Yes   Sat  Dinner     3  60.81        Yes
212       48.33   9.00    Male     No   Sat  Dinner     4  57.33         No
59        48.27   6.73    Male     No   Sat  Dinner     4  55.00         No
156       48.17   5.00    Male     No   Sun  Dinner     6  53.17         No
182       45.35   3.50    Male    Yes   Sun  Dinner     3  48.85        Yes
..          ...    ...     ...    ...   ...     ...   ...    ...        ...
149        7.51   2.00    Male     No  Thur   Lunch     2   9.51         No
111        7.25   1.00  Female     No   Sat  Dinner     1   8.25         No
172        7.25   5.15    Male    Yes   Sun  Dinner     2  12.40        Yes
92         5.75   1.00  Female    Yes   Fri  Dinner     2   6.75        Yes
67         3.07   1.00  Female    Yes   Sat  Dinner     1   4.07        Yes

[244 rows x 9 columns]

### 4) 행/열 합계

In [58]:
# 행 합계를 구할 때는 sum(axis=1) 메서드를 사용한다.
tips.sum(axis=1)

/var/folders/gq/47j8ycvj0cv1xkzcxt2txnm00000gn/T/ipykernel_46755/3988894039.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips.sum(axis=1)

0      38.00
1      27.00
2      52.02
3      55.98
4      60.40
       ...
239    72.90
240    60.36
241    51.34
242    41.14
243    45.56
Length: 244, dtype: float64

In [60]:
# 열 합계를 구할 때는 sum(axis=0) 메서드를 사용하는데 axis인수의 디폴트 값이 0이므로 axis인수를 생략할 수 있습니다.
tips.sum()

/var/folders/gq/47j8ycvj0cv1xkzcxt2txnm00000gn/T/ipykernel_46755/3241634269.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tips.sum()

total_bill                                              4827.77
tip                                                      731.58
size                                                        627
total                                                   5559.35
smoker_str    NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
dtype: object